
.card-warp {
  position: relative;
}
.card {
  position: relative;
  width: 320px;
  height: 400px;
  background-color: #515151;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #cc1c40;
  clip-path: circle(200px at 80% 20%);
  transition: 0.5s ease-in-out;
  z-index: 1;
}
.card:hover::before {
  clip-path: circle(300px at 80% 20%);
}
.card::after {
  position: absolute;
  top: 60%;
  left: 25%;
  content: "Sydens";
  z-index: 0;
  font-size: 3em;
  font-weight: 600;
  color: gray;
  z-index: 0;
}
.img-wrap {
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  height: 220px;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
}
.img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  transform: translate(-50%, -50%) rotate(-10deg);
  transition: 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%) rotate(-10deg);
  -moz-transform: translate(-50%, -50%) rotate(-10deg);
  -ms-transform: translate(-50%, -50%) rotate(-10deg);
  -o-transform: translate(-50%, -50%) rotate(-10deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.card:hover .img-wrap {
  top: 0;
  transform: translateY(0%);
}
.card-overlay {
  position: absolute;
  top: 70%;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100px;
  padding: 1rem;
  transition: 0.5s ease-in-out;
  z-index: 1;
}
.card-text {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}
.card-title {
  font-size: 25px;
  font-weight: 700;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.card:hover .card-overlay {
  top: 40%;
  height: 220px;
}
.card:hover .card-text {
  opacity: 1;
  visibility: visible;
}
.card-overlay .size {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  visibility: hidden;
}
.card:hover .size {
  opacity: 1;
  visibility: visible;
}
.card h3 {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.card span {
  background: white;
  display: inline-block;
  border-radius: 5px;
  text-indent: 5px;
  font-size: 11px;
  margin: 0 5px;
  width: 120px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: black;

}
.card span:hover {
  background-color: gray;
}
.card a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
  z-index: 1;
}
.card:hover a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}
.card a:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
  background-color: gray;
  color: white;

}
