@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Open+Sans:wght@700&family=Oswald:wght@600&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Oswald:wght@600&family=Poppins:wght@700&display=swap");
:root {
  --dark: #0d0d0d;
  --blue: #131a25;
  --bg: white;
  --theme: #fe432f;
  --truck: #b14605;
  --bus: #c0aa86;
  --bike: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:focus {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}
body {
  color: var(--bg);
  height: auto;
  width: 100vw;
}
.hero-visit {
  color: white;
  text-decoration-color: transparent;
}
.hero-visit:hover {
  color: rgb(205, 205, 205);
  text-decoration-color: transparent;
}
.rent {
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: medium;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg);
}
.intro {
  margin-top: 20px;
  width: 80%;
}
.intro p {
  font-size: 1rem;
}
.cars-2 {
  margin-top: 15px;
}
.cars-3 {
  margin-top: 15px;
}
.cars {
  margin-top: 15px;
}
/*========================= cars card section ============== */

 .card .img-overlay .truck.size span:hover {
  background: #b14605;
  color: #000000;
}
 .truck.card:before {
  background: var(--truck);
}
 .truck.card:after {
  content: "Pickup Trucks";
  top: 60%;
  left: 10%;
  font-size: 2.5em;
}

 .card .img-overlay .bus.size span:hover {
  background: #c0aa86;
  color: #000000;
}
 .bus.card:before {
  background: var(--bus);
}

 .bus.card:after {
  content: "Bus";
  top: 40%;
  left: 25%;
  font-size: 6em;
}

 .card .img-overlay .two.size span:hover {
  background: #000000;
  color: #ffffff;
}
 .two.card:before {
  background: var(--bike);
}

 .two.card:after {
  content: "Two Wheeler";
  top: 60%;
  left: 10%;
  font-size: 2.5em;
}

 .card .img-overlay .minibus.size span:hover {
  background: #000000;
  color: #cbcbcb;
}
 .minibus.card:before {
  background: #cbcbcb;
}

 .minibus.card:after {
  content: "Mini Bus";
  top: 60%;
  left: 20%;
  font-size: 3em;
}

 .card .img-overlay .offroad.size span:hover {
  background: #699abf;
  color: black;
}
 .offroad.card:before {
  background: #699abf;
}

 .offroad.card:after {
  content: "Offroad";
  top: 60%;
  left: 20%;
  font-size: 3em;
}

 .card .img-overlay .hatchback.size span:hover {
  background: yellow;
  color: black;
}
 .hatchback.card:before {
  background: yellow;
}

 .hatchback.card:after {
  content: "Hatchbacks";
  top: 60%;
  left: 8%;
  font-size: 3em;
}

 .vans.card:before {
  background: #686a6f;
}
 .card .img-overlay .size.vans span:hover {
  background: #686a6f;
  color: var(--bg);
}
 .vans.card:after {
  content: "Mini Vans";
  top: 60%;
  left: 15%;
  font-size: 3em;
}
 .fortuner.card:after {
  content: "SUV";
  top: 60%;
  left: 35%;
} 
.fortuner.card:before {
  background: #4c3935;
}
 .card .img-overlay .size.fortuner span:hover {
  background: #4c3935;
  color: var(--bg);
}
 .card .img-overlay  span:hover {
  background: #dc2c60;
}

.card {
  margin-top: 40px;
  margin: 30px;
}

section {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

#mail {
  display: none;
}
#logout {
  display: none;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -70;
}
@media (max-width: 992px) {
   .card {
    margin-top: 15px;
  }
  .cars,
  .cars-2,
  .cars-3 {
    flex-direction: column;
  }
}
